body {
  background: #000;
}


.background {
    width: 100%;
    height: 100vh;
    background: url('images/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
